#logo{
    background-image: url(../images/salonEventos.png);
}
#prev,#next{

    transition: all 0.5s ease-in-out;
}
#prev:hover,#next:hover
{   
    fill: gold;
   transform: translateX(-0.5em)
}

#next:hover{
    transform: translateX(0.5em)

}

#mesnombre,#numeromes,#numeroanio
{
	font-family: 'Gotu', sans-serif;

}