#logo{
    background-image: url(../images/recepcion.png);
}

#reservations
{
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    background: url(../images/texturapapel.jpg);
    border-radius: 15px;
    box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.26);
    
}

i{
    width: 0.5em;
    font-size: 1.3em;
    margin-right: 1em;
    
}
.col{
    padding:1em;
}
.categoria
{
    display: inline-block;
    border-radius: 30px 30px 0 0;
}

.row.first
{
    border-bottom: 1px solid black;

}

#key
{
    width: 120px;
    position: absolute;
    right: -40px;
    top:-30px;
    transform: rotate(14deg);
}

#reservationumber
{
    font-size: 1.5em;
    
    width: 40px;
    position: absolute;
    right: 8px;
    top: 20px;
    
}

#category
{
    width: 75px;
}
#dates{
flex-direction: row;
}