@charset "ISO-8859-1";

*{
	font-family: 'Gotu', sans-serif;
}

body
{
	background-image: url(../images/fondoReporte.png);
	background-size: cover;
}

img
{
	display: block;
	box-align: left;
	position: absolute;
	width: auto;
	height: 90%;
	margin-top: -30px;
	
}

.menu{
	text-align: center;
	border-radius: 30px;
	background-color:rgba(201, 132, 13, 1);
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 4em;
	padding-bottom: 4em;
	margin: 1.5em;
	color: white;
	
}

