@charset "ISO-8859-1";

*{
	font-family: 'Gotu', sans-serif;
	padding-left: 0px;
	padding-right: 0px;
}

.col-sm-6
{
	padding-left: 0px;
	padding-right: 0px;
	
}
#texto,#menu
{
	position: relative;
	display: flex-box;
	background-color:transparent;	
	text-align:center;
	font-size: 1.8em;
	color:black;
	border-radius: 0 0 1em 1em;
	margin-bottom: 1.5em;
	transition: all 0.5s  ease-in-out;
	opacity: 1;
	justify-content: center;
	align-items: center;
	text-align: center;	
	padding: 1em;
	box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.082);
	background-image: url(../images/foild.png);
	


}
.centered{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#animacion
{
	
	position: relative;
	width: 100%;
	height: auto;
	-webkit-box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.50);
box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.50);
}

#borde
{
	padding: 0.5em;
}



.bordeizq
{

-webkit-box-shadow: 132px -132px 0px -130px rgba(201,163,13,0.75);
-moz-box-shadow: 132px -132px 0px -130px rgba(201,163,13,0.75);
box-shadow: 132px -132px 0px -130px rgba(201,163,13,0.75);

background: linear-gradient(30deg, rgba(2,0,36,0) 30%, rgba(255,255,255,1) 70%);
overflow: hidden;
padding: -1em;
margin: 0;


}


.bordeizq::before,.bordeder::before
{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	content: "+ Ver Mas";
	width: 90px;
	height: 40px;
	font-size: 1em;
	background-color: rgba(201,163,13,0.75);
	right: -70px;
	top: 70%;
	border-radius: 15px 0 0 15px;
	transition: all 0.8s ease-in-out;
}
.bordeder::before
{
content: "Ver Mas +";
left: 0;
border-radius: 0px 15px 15px 0px;
left:-70px;
}

.bordeizq:hover::before,.bordeder:hover::before
{
	width: 16%;
	right: 0;
	box-shadow: 0 6px 12px 0 rgba(223, 180, 9, 0.65);

}
.bordeder:hover::before
{
 left: 0;
 content: "Ver Mas +";
}
.bordeder
{
-webkit-box-shadow: -142px 132px 0px -130px rgba(201,163,13,0.75);
-moz-box-shadow: -132px 132px 0px -130px rgba(201,163,13,0.75,0,0,0.75);
box-shadow: -132px 132px 0px -130px rgba(201,163,13,0.75);

background: rgb(2,0,36);
background: linear-gradient(-150deg, rgba(2,0,36,0) 30%, rgba(255,255,255,1) 70%);
overflow: hidden;


}

#logo
{
 position: absolute;
 background-image: url(../images/OnlineHoteLogo2.png);
 background-size: contain;
 width: 9em;
 height: 275px;
 background-repeat: no-repeat;
 z-index: 99;
 margin-left: 40px;
 margin-top: -40px;

}

#logo:hover
{
	background-image: url(../images/banderinlogo.gif);
	
	margin-left: 37px;
	margin-top: -42px;
	filter: blur(0.75px),saturate(2);
	height: 285px;
	box-shadow: rgba(0, 0, 0, 0.562);

}

body
{
	background-image: url(../images/fondo.jpg);
	background-size: cover;
}



