@charset "ISO-8859-1";

*{
	font-family: 'Gotu', sans-serif;
}
#texto,#menu
{
	position: relative;
	display: flex-box;
	background-color:transparent;	
	text-align:center;
	font-size: 1.5em;
	color:black;
	border-radius: 0 0 1em 1em;
	margin-bottom: 1.5em;
	font-family: 'Montserrat';
	transition: all 0.5s  ease-in-out;
	opacity: 1;
	justify-content: center;
	align-items: center;
	text-align: center;	
	padding: 1.2em;
	box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.082);
	background-image: url(../images/foild.png);
	


}

#logo
{
 position: absolute;
 background-image: url(../images/OnlineHoteLogo2.png);
 background-size: contain;
 width: 9em;
 height: 300px;
 background-repeat: no-repeat;
 z-index: 99;
 margin-left: 40px;
 margin-top: -40px;

}

body
{
	background-image: url(../images/fondo.png);
	background-size: cover;
}


#texto:hover
{
	color: black;
	margin-bottom: 2em;
}

img
{
	display: block;
	box-align: left;
	position: absolute;
	width: auto;
	height: 90%;
	margin-top: -30px;
	
}

