@charset "ISO-8859-1";

*{
	font-family: 'Gotu', sans-serif;
}
#texto,#menu
{
	position: relative;
	display: flex-box;
	background-color:transparent;	
	text-align:center;
	font-size: 1.5em;
	color:black;
	border-radius: 0 0 1em 1em;
	margin-bottom: 1.5em;
	font-family: 'Montserrat';
	transition: all 0.5s  ease-in-out;
	opacity: 1;
	justify-content: center;
	align-items: center;
	text-align: center;	
	padding: 1.2em;
	box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.082);
	background-image: url(../images/foild.png);
	


}

#animacion{
	
	
	width: 100%;
	height: auto;

}

#borde
{
	padding: 0.5em;
}


.bordeizq
{

-webkit-box-shadow: 132px -132px 0px -130px rgba(0,0,0,0.75);
-moz-box-shadow: 132px -132px 0px -130px rgba(0,0,0,0.75);
box-shadow: 132px -132px 0px -130px rgba(0,0,0,0.75);
border-radius: 20px 0 20px 20px;
background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 90%);
}
.bordeder
{
-webkit-box-shadow: -132px 132px 0px -130px rgba(0,0,0,0.75);
-moz-box-shadow: -132px 132px 0px -130px rgba(0,0,0,0.75);
box-shadow: -132px 132px 0px -130px rgba(0,0,0,0.75);
background: rgb(2,0,36);



border-radius: 20px 20px 20px 0;
background: linear-gradient(-45deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 90%);
}

#logo
{
 position: absolute;
 background-image: url(../images/OnlineHoteLogo2.png);
 background-size: contain;
 width: 9em;
 height: 300px;
 background-repeat: no-repeat;
 z-index: 99;
 margin-left: 40px;
 margin-top: -40px;

}

body
{
	background-image: url(../images/fondo.png);
	background-size: cover;
}


#texto:hover
{
	color: black;
	margin-bottom: 2em;
}


