<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href=@{/css/bootstrap.css}>
    <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href=@{/css/flexslider.css} type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/jquery.flexslider.js" th:href=@{/js/jquery.flexslider.js}></script>
    <script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider({
        touch: true,
        pauseOnAction: false,
        pauseOnHover: false,
      });
    });

    let video= document.getElementById("animacion")
  </script>
</head>

<body>
  <div id="logo"></div>
  <p id="texto" th:text="'Hello, ' + ${name} + '!'" >



<div class="flexslider" >
  <ul class="slides">
    <li>
      <img src="images/1.jpg" th:href=@{/images/1.jpg} alt="">
      <section class="flex-caption">
        <p>SERVICIO</p>
      </section>
    </li>
    <li>
      <img src="images/2.jpg" th:href=@{/images/2.jpg} alt="">
      <section class="flex-caption">
        <p>COMODIDAD</p>
      </section>
    </li>
    <li>
      <img src="images/3.jpg" th:href=@{/images/3.jpg} alt="">
      <section class="flex-caption">
        <p>RELAX</p>
      </section>
    </li>
  </ul>
</div>

<div class="container">
  <!-- <div class="row">
    <div class="col-sm-4">
      <h3>Column 9</h3>
      <p id="texto" th:text="'Hello, ' + ${name} + '!'" >
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div> -->

  <div class="row" style="margin-bottom:3em">

    <div class="col-sm-6 centered">
      <video id="animacion" src="/images/fold.mp4" th:src=@{/images/fold.mp4} th:href=@{/images/fold.mp4} autoplay loop muted> </video>
    </div>
    <div class="col-sm-6 bordeizq">
      <h3 id="borde"><u> Excelencia de primer nivel.</u></h3>
      <p id="borde">En Online hotel contamos con las suites empresariales de mayor nivel en todo el pais:
        <br> <br>-Alojamiento con jardín
        <br> -Garage privado
        <br> -Servicio a la habitacion completo
      </p>
    </div>
    
  </div>

  <div class="row" style="margin-bottom:3em" >

    
    <div class="col-sm-6 bordeder">
      <h3 id="borde"><u>Categorias diferenciales.</u></h3>
      <p id="borde" >Contamos con una amplia gama de habitaciones, categorizadas por tipo de servicio y precios </p>
    </div>

    <div class="col-sm-6 centered">
      <!-- <img id="animacion" src="/images/calificaciones.png" th:src=@{/images/calificaciones.png} th:href=@{/images/calificaciones.png}> -->
      <video id="animacion" src="/images/calificaciones.mp4" th:src=@{/images/calificaciones.mp4} th:href=@{/images/calificaciones.mp4} autoplay loop muted> </video>

    </div>
    
    
  </div>

  <div class="row" style="margin-bottom:3em" >

    
    <div class="col-sm-6 centered">
      <img id="animacion" src="/images/fondoReporte.png" th:src=@{/images/fondoReporte.png} th:href=@{/images/fondoReporte.png}>

    </div>

    <div class="col-sm-6 bordeizq">
      <h3 id="borde"><u>Estandares de calidad asegurados.</u></h3>
      <p id="borde" >Trabajamos constatemente para asegurar los estandares que nuestros clientes esperan, controlando minusciosamente todos los aspectos en la organizacion de nuestra empresa</p>
    </div>
    
    
  </div>

  <div class="row" style="margin-bottom:3em" >

    
    <div class="col-sm-6 bordeder">
      <h3 id="borde"><u>Categorias diferenciales.</u></h3>
      <p id="borde" >Contamos con una amplia gama de habitaciones, categorizadas por tipo de servicio y precios </p>
    </div>

    <div class="col-sm-6 centered">
      
      <video id="animacion" src="/images/plata.mp4" th:src=@{/images/plata.mp4} th:href=@{/images/plata.mp4} autoplay loop muted> </video>

    </div>
    
    
  </div>
  
</div>
    
</body>

</html>