<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href=@{/css/bootstrap.css}>
    <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div class="centered">
        <div class="row">
          <div class="col-sm-12">
            <div id="texto">
              <img  th:src="@{/images/OnlineHoteLogo.png}" alt="">
              <p th:text="'Hello, ' + ${name} + '!'" >

            </div>
                
          </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p id="texto" th:text="'Hello, ' + ${name} + '!'" >
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>

   
     <script src="/js/jquery.js" th:href="@{/js/jquery.js}"></script>
    <script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    
</body>

</html>