<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    
    <link rel="stylesheet" th:href=@{/css/bootstrap.css}>
    <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Italianno&display=swap" rel="stylesheet">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href=@{/css/flexslider.css} type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/jquery.flexslider.js" th:href=@{/js/jquery.flexslider.js}></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" charset="utf-8">
    
    $(window).load(function() {
      $('.flexslider').flexslider({
        touch: true,
        pauseOnAction: false,
        pauseOnHover: false,
      });
    });

    let video= document.getElementById("animacion")
  </script>
</head>

<body>
  <div id="logo"></div>
  
  <p id="texto"><img src="/images/izquierda.svg" alt="" width="34px">Bienvenidos  a Online Hotel<img src="/images/derecha.svg" alt="" width="34px"></p>



<div class="flexslider" >
  <ul class="slides">
    <li>
      <img src="images/1.jpg" th:href=@{/images/1.jpg} alt="">
      <section class="flex-caption">
        <p>SERVICIO</p>
      </section>
    </li>
    <li>
      <img src="images/2.jpg" th:href=@{/images/2.jpg} alt="">
      <section class="flex-caption">
        <p>COMODIDAD</p>
      </section>
    </li>
    <li>
      <img src="images/3.jpg" th:href=@{/images/3.jpg} alt="">
      <section class="flex-caption">
        <p>RELAX</p>
      </section>
    </li>
  </ul>
</div>

<div class="container">
  <!-- <div class="row">
    <div class="col-sm-4">
      <h3>Column 9</h3>
      <p id="texto" th:text="'Hello, ' + ${name} + '!'" >
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div> -->

  <div class="row" style="margin-bottom:3em">

    <div class="col-sm-6 centered">
      <video id="animacion" src="/images/banderindorado.mp4" th:src=@{/images/banderindorado.mp4} th:href=@{/images/banderindorado.mp4} autoplay loop muted> </video>
    </div>
    <div class="col-sm-6 bordeizq">
      <h3 id="borde"><u> Interfaz elegante</u></h3>
      <p id="borde">En Online hotel cuidamos los aspectos visuales de nuestra interfaz gráfica con el fin de que pueda ser visualizada en las recepciones de hoteles de primera categoría.
      </p>
    </div>
    
  </div>

  <div class="row" style="margin-bottom:3em" >

    
    <div class="col-sm-6 bordeder">
      <h3 id="borde"><u>Categorias diferenciales.</u></h3>
      <p id="borde" >Contamos con un sistema de calificaciones para las habitaciones,por precios, en tres categorías distintas (Bronce,Plata y Oro). </p>
    </div>

    <div class="col-sm-6 centered">
      <!-- <img id="animacion" src="/images/calificaciones.png" th:src=@{/images/calificaciones.png} th:href=@{/images/calificaciones.png}> -->
      <video id="animacion" src="/images/calificaciones.mp4" th:src=@{/images/calificaciones.mp4} th:href=@{/images/calificaciones.mp4} autoplay loop muted> </video>

    </div>
    
    
  </div>

  <div class="row" style="margin-bottom:3em" >

    
    <div class="col-sm-6 centered">
      <img id="animacion" src="/images/fondoReporte.jpg" th:src=@{/images/fondoReporte.jpg} th:href=@{/images/fondoReporte.jpg}>

    </div>

    <div class="col-sm-6 bordeizq">
      <h3 id="borde"><u>Estandares de calidad asegurados.</u></h3>
      <p id="borde" >Trabajamos constatemente para asegurar los estandares de calidad que nuestros clientes esperan. Contamos con un amplio servicio para la generación de reportes tanto de ocupación como de ingresos y egresos, para mejorar la contabilidad de los hoteles</p>
    </div>
    
    
  </div>

  <div class="row" style="margin-bottom:3em" >

    
    <div class="col-sm-6 bordeder">
      <h3 id="borde"><u>Envio de encuestas automáticas</u></h3>
      <p id="borde" >Contamos con un servicio de calificacion del servicio, mediante el envio de encuestas automáticas a los clientes que utilcen los servicios del hotrl</p>
    </div>

    <div class="col-sm-6 centered">
      
      <video id="animacion" src="/images/banderinplateado.mp4" th:src=@{/images/banderinplateado.mp4} th:href=@{/images/banderinplateado.mp4} autoplay loop muted> </video>

    </div>
    
    
  </div>



 
  
</div>
    
</body>

</html>
